.header {
  width: 100%;
  max-width: 880px;
  margin: auto;
}

.header__logo-container {
  max-width: 880px;
  max-height: 74px;
  background-color: black;
  padding-top: 45px;
  border-bottom: 1px solid darkgrey;
}

.header__logo {
  width: 173px;
  height: 33px;
}
