.header {
  background-color: gray;
}

.header__logo-container {
  width: 880px;
  height: 74px;
  background-color: black;
  margin: 0 200px 0 200px;
  padding-top: 45px;
  border-bottom: 1px solid lightgray;
}

.header__logo {
  width: 173px;
  height: 33px;
}
