@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }

  .header {
    width: 100%;
    margin: auto;
  }

  .header__logo-container {
    width: 100%;
    height: 56px;
    background-color: black;
    padding: 28px 0 0 0;
    border-bottom: 1px solid darkgrey;
  }

  .header__logo {
    width: 173px;
    height: 33px;
    padding-left: 27px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: black;
  }

  .profile__avatar {
    border-radius: 50%;
    width: 100%;
    max-width: 120px;
    height: 120px;
    opacity: 1;
    margin: 0;
  }

  .profile__edit-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    background-color: black;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .profile__edit-avatar-img {
    width: 20px;
    height: 20px;
  }

  .profile__avatar-container:hover .profile__edit-avatar {
    opacity: 1;
  }

  .profile__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 282px;
    align-items: center;
    padding: 30px 19px 36px;
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
    line-height: 100%;
  }

  .profile__info-nameandbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    gap: 10px;
  }

  .profile__name {
    font-family: "Inter", Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 196px;
    margin: 0;
    color: white;
  }

  .profile__hobby {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    color: white;
    margin: 0;
  }

  .profile__avatar-container {
    position: relative;
    width: 120px;
  }

  .profile__editButton {
    margin: 0px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    max-width: 18px;
    height: 18px;
    margin: 0;
  }

  .profile__editButton-img {
    width: 18px;
  }

  .profile__add-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 100%;
    max-width: 282px;
    width: 100%;
    max-height: 50;
    margin: 0 19px 0;
  }

  .profile__add-button img {
    display: block;
    max-width: 282px;
    width: 100%;
    height: 50px;
  }

  .feed {
    width: 100%;
    max-width: 880px;
    margin: auto;
    padding-top: 36px;
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .feed__posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer {
    background-color: black;
    margin: auto;
    width: 100%;
  }

  .footer__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #545454;
    padding: 50px 19px 36px;
    margin: 0;
  }

  .popup {
    /*display: none;*/
    width: 100vw;
    height: 100vh;
    background-color: palegreen;
  }

  .popup__container {
    width: 282px;
    height: 322px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 8px;
    position: absolute;
    top: 123px;
    left: 19px;
  }

  .popup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 34px 22px 36px 22px;
    width: 282px;
    height: 322px;
    /* border: 1px solid green; */
    box-sizing: border-box;
  }

  .popup__title {
    margin: 0 0 54px 0;
  }

  .popup__input {
    max-width: 100%;
    width: 238px;
    max-height: 100%;
    height: 26px;
    margin-bottom: 29px;
    padding: 10px;
    box-sizing: border-box; /* Para que los inputs quepan en el contenedor del form */
    border: 0;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 4px;
    font-size: 14px;
  }

  .form__input:focus {
    outline: none;
    border-color: #3498db; /* Borde azul al enfocar el campo */
  }

  .popup__saveButton {
    text-align: center;
    width: 238px;
    height: 46px;
    margin: 0;
    border: 1px solid #c4c4c4;
    color: #ffffff;
    background-color: #000000;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 19px;
    cursor: pointer;
  }

  .popup__saveButton:hover {
    background-color: #000000cc;
  }

  .popup__saveButton-disabled {
    background-color: #f1f1f1;
    cursor: default;
  }

  .popup__closeButton {
    background-image: url(../images/CloseIcon.png) no-repeat center;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 80px;
    left: 270px;
    z-index: 2; /* Asegura que el botón esté por encima de la imagen */
  }

  .popup__closeButton:hover {
    background-color: #000000cc;
  }
}
